<section data-ng-controller="PhotosController" data-ng-init="find()">
  <h1 ng-if="event.name" class="text-center">{{event.name}}</h1>
  <div class="row">
    <!-- TODO: Use a thumbnail here. -->
    <div class="col-xs-6 col-md-3 photo-thumb" ng-repeat="photo in photos">
      <a href="#!/photo/{{photo._id}}" class="thumbnail">
        <img src="http://storage.googleapis.com/{{photo.bucket}}/{{photo.name}}">
      </a>
    </div>
  </div>
  <div class="twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a></div>
  <div class="fb-like" data-href="http://storage.googleapis.com/{{photo.bucket}}/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
</section>
